<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bentonow.bentonow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.bentonow.bentonow.permission.C2D_MESSAGE" />

    <permission
        android:name="com.bentonow.bentonow.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".controllers.BentoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_bento"
        android:label="@string/app_name"
        android:theme="@style/Theme.BentoTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".controllers.init.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />
        <activity
            android:name=".controllers.errors.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.init.GettingStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.order.BuildBentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.geolocation.DeliveryLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.errors.BummerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.order.SelectMainCustomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.order.SelectSideCustomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.order.AddOnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.session.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controllers.session.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controllers.order.CompleteOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controllers.order.OrderConfirmedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controllers.order.OrderStatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controllers.payment.EnterCreditCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".controllers.session.EnterPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.session.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controllers.errors.NextDayMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.order.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.errors.ErrorVersionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Google Api Key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".service.BentoCustomerService"
            android:enabled="true"
            android:stopWithTask="true" />
        <service
            android:name=".service.OrderSocketService"
            android:enabled="true"
            android:stopWithTask="true" />

        <!-- Mixpanel -->

        <receiver
            android:name=".service.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bentonow.bentonow" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e416b51207b62057016bf1d61606566656652d9a" />
    </application>

</manifest>