<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:com.bentonow.bentonow="http://schemas.android.com/tools"
    package="com.bentonow.bentonow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_bento"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        com.bentonow.bentonow:replace="android:icon" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="DATABASE"
            android:value="bento.db" />
        <meta-data
            android:name="VERSION"
            android:value="22" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.bentonow" />

        <!--
        <activity android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErrorClosedActivity"
            android:label="@string/title_activity_error_closed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeAboutActivity"
            android:label="@string/title_activity_home_about"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".FaqActivity"
            android:label="@string/title_activity_faq"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BuildBentoActivity"
            android:label="@string/title_activity_build_bento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeliveryLocationActivity"
            android:label="@string/title_activity_delivery_location"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ErrorInvalidAddressActivity"
            android:label="@string/title_activity_error_invalid_address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectMainActivity"
            android:label="@string/title_activity_bento_select_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectSideActivity"
            android:label="@string/title_activity_bento_select_side"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ErrorOutOfStockActivity"
            android:label="@string/title_activity_error_out_of_stock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CompleteOrderActivity"
            android:label="@string/title_activity_complete_order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".OrderConfirmedActivity"
            android:label="@string/title_activity_order_confirmed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EnterCreditCardActivity"
            android:label="@string/title_activity_enter_credit_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".FacebookActivity"
            android:label="@string/title_activity_enter_credit_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".EnterPhoneNumberActivity"
            android:label="@string/title_activity_enter_phone_number"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TermAndConditionsActivity"
            android:label="@string/title_activity_term_and_conditions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NextDayMenuActivity"
            android:label="@string/title_activity_next_day_menu"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Google Api Key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- INI SERVICE -->
        <service
            android:name=".BentoService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher" />

        <receiver android:name=".Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!-- END SERVICE -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b93f88316ab43e2a9cc5ec856985492a4a6d820e" />

        <activity
            android:name=".CreditCardActivity"
            android:label="@string/title_activity_credit_card" >
        </activity>
    </application>

</manifest>
